<div id="disqus_thread"></div>
<!-- Estilos CSS personalizados para o formulário, se for usar seu estilo, pode apagar essa linha -->
<link rel="stylesheet" type="text/css" href="https://novo.nitronews.com.br/assets/css/fomularios-html.css">
<form action="https://novo.nitronews.com.br/formularios/confirmacao-formularioHTML" method="get" target="_blank" id="formIntegracaoHTML">
	<label for="email">E-mail: </label>
 	<input type="email" name="email%%E-mail" id="email" required>
	<label for="nome">Nome: </label>
 	<input type="text" name="nome%%Nome" id="nome">
	<!-- Não apagar as linhas abaixo -->
	<input type="hidden" name="chave[]" value="-7Ek">
	<input type="hidden" name="cliente" value="The Memories">
	<input type="hidden" name="urlretorno" value="https://geanramos.com/obrigado">
	<input type="submit" name="enviar" value="inscreva-se">
</form>

<script type="text/javascript">
	(function () {
		// Don't ever inject Disqus on localhost--it creates unwanted
		// discussions from 'localhost:1313' on your Disqus account...
		if (window.location.hostname == "localhost")
			return;

		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		var disqus_shortname = '{{ .Site.DisqusShortname }}';
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<noscript>Please enable JavaScript to view the </a></noscript>
<a href="http://disqus.com/" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
