<div class="footer wrapper">
	<nav class="nav">
		<div>{{ dateFormat "2006" now }} {{ with .Site.Copyright }} {{ . | safeHTML }} | {{ end }} <a href="https://t.me/the_memoriesx">Telegram</a> | Powered <a href="https://hostinger.com.br?REFERRALCODE=1GEAN04">hostinger</a></div>
	</nav>
</div>
<img style="width:100%;margin-bottom: 0px;margin-top:0px" src="https://atlinker.cn/theme/footerbgs.png">
{{ template "_internal/google_analytics_async.html" . }}
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}
